<div id="root" ng-controller="BrainstormController as bs" layout="row"  layout-fill flex style="height:100%">

   <div layout="row" style="height: 100%">
      <a ng-click="bs.toggleLeft()"><div class="brainstorm" style="height: 100%"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><img class="arrow-right" src="/assets/right.png"/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/>
   </div></a>
   <div>
      <md-sidenav id="brainstorm-side" class="brainstorm md-sidenav-left md-whiteframe-z2" md-component-id="left">
                                   <md-toolbar class="md-theme-light">
                                     <h1 class="md-toolbar-tools">Brainstorm</h1>
                                   </md-toolbar>
                                 <md-content layout-padding class="brainstorm" style="height: 100%">
                                   <form ng-submit="bs.saveBS(); bs.showSimpleToast('Saved!');">
                                     <textarea id="textarea-bs" type="text" ng-model="bs.brainstorm.brainstorm" placeholder="{{bs.instructions}}"></textarea>
                                         <md-button style="color : white" type="submit" class="md-primary" ng-show="!bs.brainstorm._id">Save</md-button>
                                         <md-button style="color : white" type="button" ng-click="bs.editBS(); 			bs.showSimpleToast('Saved!');" class="md-primary" ng-show="bs.brainstorm._id">Save</md-button>
                                         <md-button style="color : white" type="button" ng-click="bs.deleteBS()" class="md-primary" ng-show="bs.brainstorm._id">Clear Slate</md-button>
                                         <!-- when saved, display toast: https://material.angularjs.org/latest/demo/toast -->
                                     </form>
                                     <a ng-click="bs.close()"><img class-"arrow-left" src="/assets/left.png"/></a>
                                   </md-content>
                             </md-sidenav>
</div>
</div>

<div layout="column" flex>

   <div>
      <ui-view flex="100" layout-fill></ui-view>
   </div>


<div id="sections">
   <md-grid-list
    md-cols-gt-sm="8" md-cols-sm="8"
    md-row-height-gt-md="3:1" md-row-height="5:3"
    md-row-height="15px" style="margin: 1px"
     md-gutter-gt-md="1px" md-gutter-gt-sm="1px" md-gutter="1px" >

  <md-grid-tile class="sectionsTile" ng-repeat="section in bs.sections" ui-sref="root.{{section.state}}({id: glob.status._id})" md-colspan="2" md-rowspan="1" class="gridButton" class="plus">
     <span>{{section.section}}</span>
  </md-grid-tile>
</md-grid-list>
</div>
</div>


<!-- <div id="right-border">

</div> -->

</div>

<!-- <div id="bottom-border" layout>

</div> -->
