<div layout="column"> <!--  ng-controller="ExecutiveSummaryController as vm" -->
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
</div>


</div>
