<div layout="row">
<div layout="column" flex="80">  <!--  ng-controller="ExecutiveSummaryController as vm" -->
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
	<section layout="row">
		<div class="instructions" flex="40">
			Write 10 words that describe you.
		</div>
		<div class="draft" flex="60">
			<md-input-container>
				<textarea ng-model="vm.executiveSummary.text1"></textarea>
			</md-input-container>
		</div>
	</section>
</div>
<div flex layout="column">
	<div id="resources" flex>
		<h3>Resources</h3>
	</div>
	<div id="community" flex>
		<h3>Community</h3>
	</div>
</div>
</div>
