<div ng-controller="GlobalController as vm" flex="100" layout="column" layout-padding id="home" layout-align="center center">

   <div flex layout>
      <div flex style="background-color: black;color:white;width:60%">
      <h1>Business Plan Guide for Artists</h1>
      <!-- <p>Focus Your Hard Work on Your Creative Passion. Make a Business Plan. No Sweat. Step By Step. Because if you're going to be a career artist, you need to know how your art is going to sustain you.</p> -->
   </div>
</div>


   <div layout="row" style="padding-top:60px;">
   <div  layout-padding flex style="background-color:black;">
      <h2 style="text-align:left;color:white;">Features:</h2>
      <img src="/assets/app.png" style="height:400px"/>
      <img src="/assets/brainstorm.png" style="height:400px"/>
      <img src="/assets/rc.png"  style="height:400px"/>
   </div>


</div>
</div>
