<div id="full-section" layout="column" flex ng-controller="ProductsServicesController as vm">

	<div id="toolbar" layout="row" flex="100">
		<span id="section-title" flex="40">Products and Services</span>

		<form name="saveDraft" ng-submit="vm.savePS(); vm.showSimpleToast('Saved!');"  flex="60">
			<span id="toolbar-buttons">
			<md-button class="toolbar-button" type="submit"  ng-show="!vm.ps._id">Save</md-button>
			<md-button class="toolbar-button" type="button" ng-show="vm.ps._id" ng-click="vm.editPS(); vm.showSimpleToast('Saved!');">Save</md-button>
			<md-button class="toolbar-button" type="button" ng-show="vm.ps._id" ng-click="vm.deletePS()">Clear Slate</md-button>
		 </span>
		 <img class="arrow-right sidebar-rc" src="/assets/right-inv.png" ng-click="vm.toggleRight()">
	</div>

	<div id="draft" layout="row" flex="100">
	<div layout="row" layout-sm="column" flex="100">
		<div layout="column" flex="100">
			<section id="section-overview" layout="row">
					<p>Products and services are the part of your business that you, as an artist, should feel most excited about. These are the ways you share your creativity with the world. This section should be the most fun! Think about all the things you offer. Do you mostly have physical art that you sell? Is your gift your time and energy? Maybe you do a little bit of both, like sell prints but do workshops monthly.  It may be a little strange for you to think about what you're "selling," but the reality is that you're offering something that people will pay for in a number of ways (love, skillshare and $$ cash money) and that's what's going to sustain you.</p>
			</section>

			<section class="each-section" layout="column">
				<div><h4>Overview</h4></div>
				<div layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<p>Give us a general idea of what you're offering. What is your gift to the world? Are they products (tangible) or services (time-based)?</p>
				</div>
				<div class="draft" flex="60">
					<md-input-container>
						<textarea ng-model="vm.ps.overview"></textarea>
					</md-input-container>
				</div>
			</div>
			</section>

			<section class="each-section" layout="column">
				<div><h4>Importance</h4></div>
				<div layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<p>Imagine you're at a gallery/music vanue checking out for your favorite artist. What do you tell your girlfiend how they made you feel? What  is so awesome about them that you feel they are worth supporting? Now think about what value you offer others.</p>
				</div>
				<div class="draft" flex="60">
					<md-input-container>
						<textarea ng-model="vm.ps.importance"></textarea>
					</md-input-container>
				</div>
			</section>

			<section class="each-section" layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<h4>Products</h4>
					<p>Do you sell drawings, mixtapes, posters, chapbooks or something that I can physically touch? Or is it a digital product like an e-book, website or a video? These are products too. If you create something and can walk away from it and it stil exists, then you're creating products. List all your products with a name and a description.</p>
				</div>
				<div class="draft" flex="60">
					<md-button type="button" ng-click="vm.ps.products.push({});">Add Product</md-button>
	    <br>
	      <div ng-repeat="product in vm.ps.products">
				<md-input-container>
					<input placeholder="Product Name" ng-model="vm.ps.products[$index].productName">
				</md-input-container>
				<md-input-container>
					<input placeholder="Product Description" ng-model="vm.ps.products[$index].productDescription">
				</md-input-container>
				<md-button ng-click="vm.ps.products.splice($index, 1)">X</md-button>
			</div>
	    </ul>
				</div>
			</section>

			<section class="each-section" layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<h4>Services</h4>
					<p>Performers and educators this section is for you. Do you provide a service for others where your presence (or a collaborator's presence) is required? Do you host workshops, webinars, consultations? Do you perform on stage, in clubs, parks or galleries? If so, then you've got a service. List them here.</p>
				</div>
				<div class="draft" flex="60">
					<md-button type="button" ng-click="vm.ps.services.push({});">Add Service</md-button>
	    <br>
	      <div ng-repeat="service in vm.ps.services">
				<md-input-container>
					<input placeholder="Service Name" ng-model="vm.ps.services[$index].serviceName">
				</md-input-container>
				<md-input-container>
					<input placeholder="Service Description" ng-model="vm.ps.services[$index].serviceDescription">
				</md-input-container>
				<md-button ng-click="vm.ps.services.splice($index, 1)">X</md-button>
			</div>
	    </ul>
				</div>
			</section>

			<section class="each-section" layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<h4>Images</h4>
					<p>Images can help people get a better idea of what you do. It's the 1000 words you don't need to write. Phew! Include images of you at work and/or your work itself.</p>
				</div>
				<div class="draft" flex="60">
					<md-button type="button" ng-click="vm.ps.images.push();">Add Image</md-button>
	    <br>
	      <div ng-repeat="image in vm.ps.images">
				<md-input-container>
					<input placeholder="Image URL" ng-model="vm.ps.images[$index]">
				</md-input-container>
				<md-button ng-click="vm.ps.images.splice($index, 1)">X</md-button>
			</div>
	    </ul>
				</div>
			</section>

			<section class="each-section" layout="row" layout-sm="column">
				<div class="instructions" flex="40">
					<h4>Conclusion</h4>
					<p>Read over what you've written before, and wrap it before you tap that button to get outta here. Do you have any last words? Is there anything else you want to say?</p>
				</div>
				<div class="draft" flex="60">
					<md-input-container>
						<textarea ng-model="vm.ps.conclusion"></textarea>
					</md-input-container>
				</div>
			</section>
		</form>

		</div>

		<!-- <div flex layout="column">
			<div layout="row" layout-padding style="height: 100%"> -->
			<div  class="rc">
				<md-sidenav class="rc md-sidenav-right md-whiteframe-z2" md-component-id="right">
													  <md-toolbar class="md-theme-light" layout="row">
														  <div flex="80">
														 <h1 class="md-toolbar-tools">Resources</h1>
														 </div>
														 <div class="md-toolbar-tools">
														 <a ng-click="vm.close()"><img class="arrow-left" src="/assets/right.png"/></a>
													 </div>
													  </md-toolbar>
													<md-content class="rc-content" layout-padding>
														<ul class="rc" ng-repeat="resource in vm.resources">
															<li>{{resource}}</il>
														</ul>
													</md-content>

													  <md-toolbar class="md-theme-light">
														<h1 class="md-toolbar-tools" >Community</h1>
													 </md-toolbar>
													 <md-content class="rc-content" layout-padding>
														 <ul class="rc" ng-repeat="message in vm.messages">
															 <li>{{message}}</il>
														 </ul>
													 </md-content>

											  </md-sidenav>
		<!-- </div>
		</div> -->

		</div>

	</div>

	</div>
</div>


<!-- Pomodoro -->
<div layout style="color:white;">
<form ng-submit="pom.getValues()" id="formid">
	<label>Session </label>
			<md-select ng-model="sestime" id="shrid">
			  <option ng-repeat="c in pom.shours" value="{{c}}">{{c}}</option>
		  </md-select>
				<select ng-model="sessionM" id="sminid">
			  <option ng-repeat="c in pom.smins" value="{{c}}">{{c}}</option>
			</select>
				<select ng-model="sessionSk" id="ssecid">
			  <option ng-repeat="d in pom.ssec " value="{{d}}">{{d}}</option>
			</select>

<label>Break </label>
			<select ng-model="breaktime" id="bhrid">
				<option ng-repeat="c in pom.bhours" value="{{c}}">{{c}}</option>
			</select>
			<select ng-model="breakM" id="bminid">
				<option ng-repeat="c in pom.bmins" value="{{c}}">{{c}}</option>
			</select>
			<select ng-model="mbreakSk" id="bsecid">
				<option ng-repeat="c in pom.bsec " value="{{c}}">{{c}}</option>
			</select>
				<md-button >Start</md-button>
				<md-button type="button" ng-click="pom.stop();">Cancel</md-button>
</form>
</div>
