<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Art of Ascent | Business Plan Guide</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body ng-controller="GlobalController as glob">

<div id="site" layout="column"  flex="100">
	<div id="top" layout="row"  flex="100">
		<header id="logo-container" flex>
			<a ui-sref="Home">
			<img id="logo" src="/assets/artofascent-w.png">	
		</a>
		</header>
		<nav id="nav" layout="column">
			<div layout="row">
		<div layout="row" ng-show="!glob.status.username">
			<form ng-submit="glob.login({id: glob.status._id})"  layout="row">
				<md-content layout="row">
						<input required name="username"  placeholder="username" ng-model="glob.user.username"/>
						<input required type="password" placeholder="password" ng-model="glob.user.password" minlength="5" />
				</md-content>
				<md-button type='submit' ng-show="!glob.status.username">Login</md-button>
			</form>
		</div>
		<div>
			<md-button ng-show="glob.status.username" ui-sref="Profile({id: glob.status._id})">Hey, {{glob.status.username}}</md-button>
		</div>
		<div>
		<md-button ui-sref="root.Dashboard({id: glob.status._id})" ng-show="glob.status.username">Dashboard</md-button>
		</div>
		<div>
			<md-button ng-click="glob.logout()" ng-show="glob.status.username">Logout</md-button>
		</div>
		<div>
			<md-button ui-sref="SignUp" ng-show="!glob.status.username">Sign Up</md-button>
			</div>
		</nav>
	</div>
	<div id="main" layout="row" flex="100" style="height:100%">
		<ui-view  id="main-uiview" style="height:100%" flex="100"></ui-view> <!-- how can i get the view to stretch 100$ vertically even when content is small-->
	</div>
</div>
	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>
	<script src="angular-aria/angular-aria.min.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>

	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/GlobalFactory.js"></script>
	<script src="/javascript/services/SideFactory.js"></script>
	<script src="/javascript/services/BizPlanFactory.js"></script>
	<script src="/javascript/services/AuthInterceptor.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/BrainstormController.js"></script>
	<script src="/javascript/controllers/DashboardController.js"></script>
	<script src="/javascript/controllers/ExecutiveSummaryController.js"></script>
	<script src="/javascript/controllers/ProductsServicesController.js"></script>
</body>
</html>
