<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>My App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body><!--figure out where this goes, and /or why this broke code when it wwas in body: ng-controller="GlobalController as glob" -->

	<div id="top" layout="row">
		<header id="logo" flex><a ui-sref="home">logo</a></header>
		<nav id="nav" layout="r">
			<md-button ui-sref="Create">Create</md-button>
			<!-- <md-content layout="row"> find a better place for this. drop down?
				<md-input-container>
					<input required name="username"  placeholder="password" ng-model="nav.user.username"/>
				</md-input-container>
				<md-input-container>
					<input required type="password" placeholder="password" ng-model="nav.user.password" minlength="5" />
				</md-input-container>
			</md-content> -->
			<md-button ui-sref="Create">Login</md-button>
			<md-button ui-sref="Review">Logout</md-button>
			<md-button ui-sref="SignUp">Sign Up</md-button>
		</nav>

	</div>
	<ui-view style="height:100%"></ui-view> <!-- how can i get the view to stretch 100$ vertically even when content is small-->

	<!-- Ext Libs -->
	<script src="angular/angular.min.js"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>
	<script src="angular-aria/angular-aria.min.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>

	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/SideFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/BrainstormController.js"></script>
	<script src="/javascript/controllers/HomeController.js"></script>
</body>
</html>
