/* FULL SITE */
html {
   padding: 50px 0px 0px 0px;
   background-color: white;
}
body {
   color: white;
   font-family: "Century Gothic";
   background-color: rgb(51, 51, 255);
   background-color: white;
}
#top {
   background-color: rgb(255,255, 255);

   /*background-color: #215544;*/
   /*background-image: url("/assets/static2.jpg");*/
}
#logo {
   height: 60px;
   color: white;
}
.btn-nav {
   margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background-color: purple;
}
/* APP UI VIEW */

#main-uiview {
   background-color: rgb(51, 51, 255);
   background-color: grey  ;
   /*background-image: url("/assets/texturebg.jpeg");*/
}
#root {
   height:100vh;
   background-image: url("/assets/print-brain50x70cm.jpg");

}

/* BRAINSTORM */
.brainstorm {
   background-image: url("/assets/print-brain50x70cm.jpg");
}
#brainstorm-side {
   background-image: url("/assets/print-brain50x70cm.jpg");
}
#textarea-bs {
   color: black;
   background-color: grey;
   width: 98%;
   height: 300px;
}
/*not working*/
.arrow-right, .arrow-left {
   height: 35px;
   /*width: 10px;*/
}
.md-toolbar-tools {
   background-color: black;
   font-weight: bolder;
}
.err-msg {
   color: purple;
}
md-backdrop.md-opaque {
    background-color: blue;
}

/* SECTIONS on DASHBOARD */
#all-sections {
   padding-left: 30px;
}

/* SECTIONS */
#full-section {
   background-color: white;
}
.section {
   margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100%;
}
#sections {
   text-transform: capitalize;
   font-size:.9em;
   text-align: center;
   background-color: white;
}
.sectionsTile {
   background-color:  rgba(0,0,51,.5);
   /*background-image: url("/assets/texturebg3.jpeg");*/
   color: white;
   text-align: center;
   border-radius: 6px;
}
.each-section {
   margin-bottom: 20px;
   /*border: 2px;
   border-color: black;*/
}

/* DRAFT UI VIEW */

/* TOOLBAR */
#toolbar {
   background-color: black;
   text-align: right;
   padding-left: 13px;
   padding-right: 13px;
}
#section-title {
   font-size: 1.5em;
   font-weight: bolder;
   text-transform: uppercase;
   text-align: left;
   vertical-align: middle;
   color: white;
}
.toolbar-button {
   color: white;
   background-color: #440044;
}
.sidebar-rc {
   height:30px;
   vertical-align: middle;
}
/* DRAFT */
#section-overview {
      margin-bottom: 40px;
      font-weight: bolder;
}
   #draft {
padding: 20px;
}
h4 {
   margin: 0px 0px 0px 0px;
   }
p {
   margin: 0px;
}
 /* RESOURCES & COMMUNITY */
 md-sidenav {
    background-color: rgba(0,0,0,0);
    background-image: url("/assets/nodes.jpg");

}
 rc {
}
.rc-content {
   background-color: rgba(255,255,255,0);
}
 ul.rc {
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    margin: 0px;
    background-color: grey;

}


/* HOME */
#home {
   background-image: url("/assets/print-brain50x70cm.jpg");
   text-align: center;
}

.input-login {
   text-align: center;
   border-radius: 6px;
   height:35px;
   width:90px;
   vertical-align: baseline;
   align-items: baseline;
   font-family: "century gothic";
   background-color: none;
}
